In [1]:
import mysql.connector
from mysql.connector import Error

In [2]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None

    try:
        connection = mysql.connector.connect(
            host = host_name, 
            user = user_name,
            password = user_password,
            database = db_name
        )

        print('MySQL Database connection successful')
    except Error as err:
        print(f'Error: "{err}"')
    
    return connection

In [3]:
host = '..............'
user = 'root'
password = '.........'
database = 'mininet_db'

connection = create_db_connection(host, user, password, database)

MySQL Database connection successful

In [4]:
cursor = connection.cursor()
cursor.execute('SHOW TABLES;')

for (databases) in cursor:
    print(databases[0])

bytearray(b'Actors')
bytearray(b'FavoriteMovies')
bytearray(b'MovieActors')
bytearray(b'Movies')
bytearray(b'Reviews')
bytearray(b'Subscriptions')
bytearray(b'Users')

In [7]:
def showUserInformation():
    UserName = input("What is your name (e.g. 'mary_james')?")
    query ="""  
    SELECT U.User_id, U.Name, U.Email, U.Password, S.SubscriptionType, U.City, U.Country 
    FROM Users AS U, Subscriptions AS S
    WHERE U.Subscription_id = S.Subscription_id
    AND S.SubscriptionType = 'HD'
    AND U.Name = %s;
    """
    cursor= connection.cursor()
    cursor.execute(query, (UserName,))
    results = cursor.fetchall()
    
    if results:
        print("User Information:")
        for result in results:
            print(result)        
    else:
        print("No user found with given name and HD subscription")

    cursor.close()

In [8]:
showUserInformation()

User Information:
(1, 'john_doe', 'john@example.com', 'password1', 'HD', 'New York', 'USA')

In [9]:
def showActorMovieInformation():
    ActorName = input("What is actor's name (e.g. 'Millie Bobby Brown')?")
    query ="""  
    SELECT A. Actor_id, A.Name, A.City, A.DateOfBirth, M. Movie_id, M.Title, M.Genre, M.ReleaseDate, M.ContentType
    FROM Actors AS A, Movies AS M, MovieActors AS MA
    WHERE MA.Actor_id = A.Actor_id
    AND MA.Movie_id = M.Movie_id
    AND A.Name = %s;
    """
    cursor= connection.cursor()
    cursor.execute(query, (ActorName,))
    results = cursor.fetchall()
    
    if results:
        print("Actor Information:")
        for result in results:
            print(result)        
    else:
        print("No actor found with given name")

    cursor.close()

In [10]:
showActorMovieInformation()

Actor Information:
(1, 'Millie Bobby Brown', 'Los Angeles', datetime.date(2004, 2, 19), 1, 'Stranger Things', 'Sci-Fi', datetime.date(2016, 7, 15), 'TV show')

In [11]:
def showNumberOfActorsCity():
    City = input("What is city name (e.g. 'Hollywood')?")
    query ="""  
    SELECT City, COUNT(City) AS NumberOfActors, ROUND (AVG (DATEDIFF(CURRENT_DATE, DateOfBirth) / 365.25), 1) AS AverageAge
    FROM Actors
    WHERE City = %s
    GROUP BY City;
    """
    cursor= connection.cursor()
    cursor.execute(query, (City,))
    results = cursor.fetchall()
    
    if results:
        print("Number of actors from a specific city with average age:")
        for result in results:
            print(result)        
    else:
        print("No city found with given name")

    cursor.close()

In [13]:
showNumberOfActorsCity()

Number of actors from a specific city with average age:
('Hollywood', 1, Decimal('68.3'))

In [14]:
def showUserGenreMovies():
    UserName = input("What is user's name (e.g. 'mary_james')?")
    Genre = input("What is your favorite genre?")
    query ="""  
    SELECT Users.Name, Movies.Movie_id, Movies.Title, Movies.Genre, Movies.ReleaseDate, Movies.ContentType FROM Users, Movies, FavoriteMovies
    WHERE FavoriteMovies.Movie_id=Movies.Movie_id
    AND FavoriteMovies.User_id=Users.User_id
    AND Users.Name = %s
    AND Genre = %s;
    """
    cursor= connection.cursor()
    cursor.execute(query, (UserName, Genre))
    results = cursor.fetchall()
    
    if results:
        print("Movies in the user's favorite genre:")
        for result in results:
            print(result)        
    else:
        print("No users found with given username")

    cursor.close()

In [15]:
showUserGenreMovies()

Movies in the user's favorite genre:
('john_doe', 3, 'The Office', 'Comedy', datetime.date(2005, 3, 24), 'TV show')
('john_doe', 4, 'Parks and Recreation', 'Comedy', datetime.date(2009, 4, 9), 'Movie')

In [16]:
def showSubscriptionsPerCountry():
    Country = input("What is country's name (e.g. 'USA')?")
    query ="""  
    SELECT Country, COUNT(*) AS SubscriptionCount
    FROM Users
    JOIN Subscriptions ON Users.Subscription_id = Subscriptions.Subscription_id
    WHERE Country = %s
    GROUP BY Country;
    """
    cursor= connection.cursor()
    cursor.execute(query, (Country,))
    results = cursor.fetchall()
    
    if results:
        print("Number of subscriptions for the specific country:")
        for result in results:
            print(result)        
    else:
        print("No country found with given name")

    cursor.close()

In [17]:
showSubscriptionsPerCountry()

Number of subscriptions for the specific country:
('Canada', 1)

In [135]:
connection.close()
print("Connection closed.")

Connection closed.